@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: rgba(254, 204, 204, 0.9);
}

nav div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.navIcons {
  gap: 20px;
}

.navIcons svg {
  color: #fff;
  font-size: 25px;
}

nav {
  font-family: 'Lato', sans-serif;
}

.nav1 {
  background-color: rgba(153, 0, 0, 0.7);
  color: white;
  letter-spacing: 2px;
}

.continent {
  background-color: rgba(255, 101, 101, 0.9);
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: white;
  letter-spacing: 1px;
  padding: 10px 0;
}

.Details {
  padding-top: 250px;
}

.continent h1 {
  padding-bottom: 10px;
}

.continent h2 {
  padding-top: 10px;
}

.nav2 {
  background-color: rgba(255, 0, 0, 0.3);
  color: rgb(59, 59, 59);
  letter-spacing: 2px;
}

.logo {
  width: 100px;
  height: 100px;
}

.today h3,
.total h3 {
  padding: 20px;
  background-color: rgba(161, 72, 72, 0.7);
}

.today li h4,
.total li h4 {
  font-size: 18px;
  color: rgb(56, 48, 48);
}

.continentName {
  color: rgb(56, 48, 48);
}

.dataUL {
  display: grid;
  grid-template-columns: 50% 50%;
}

.dataUL a,
.total,
.today {
  background-color: rgba(255, 101, 101, 0.8);
}

.dataUL a {
  padding: 20px;
}

.ContinentPage {
  background: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.ContinentPage a,
.buttons button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(61, 61, 61);
  font-size: 20px;
}

.dataContainer {
  display: grid;
  grid-auto-flow: column;
}

.dataContainer div ul li {
  padding: 20px 0;
}

.dataUL a:nth-child(4n),
.dataUL a:nth-child(4n + 1),
.dataContainer div ul li:nth-child(even) {
  background-color: rgba(254, 204, 204, 0.9);
}

.dataUL a:hover,
.dataUL a:nth-child(4n):hover,
.dataUL a:nth-child(4n + 1):hover,
.form {
  padding: 25px;
  background-color: rgba(153, 0, 0, 0.9);
  color: white;
}

.form {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.input-search {
  border: none;
  background-color: transparent;
  height: 25px;
}

::placeholder {
  color: white;
  padding-bottom: 5px;
}

.goBack {
  width: 25px;
  height: 25px;
  color: white;
}

.countryName {
  font-size: 30px;
}

.population {
  font-size: 25px;
}

.number {
  font-size: 20px;
}

.countryDetails {
  display: flex;
  justify-content: space-between;
}

.flag {
  width: 120px;
  height: 80px;
  border-radius: 5px;
}

.flag2 {
  border-radius: 5px;
}

.dataContainer div ul {
  text-align: center;
}

.buttons {
  background-color: rgba(255, 101, 101, 0.9);
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: relative;
}

.buttons button {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
}

.selected {
  background-color: rgba(153, 0, 0, 0.7);
}

.unselected {
  background-color: rgba(254, 204, 204, 0.9);
}

.map {
  width: 100%;
  height: 300px;
}

.ContinentDetails {
  display: flex;
  justify-content: space-between;
}

.titles {
  align-self: center;
}

@media screen and (max-width: 480px) {
  .dataUL a {
    padding: 10px;
  }

  .countryNumbers {
    display: none;
  }

  .ContinentDetails {
    flex-direction: column;
  }

  .nav2 {
    gap: 100px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .header2 {
    font-size: 15px;
  }

  .ContinentPage a {
    font-size: 15px;
  }

  nav div {
    padding: 5px 10px;
  }

  .countryName {
    font-size: 15px;
  }

  .population {
    font-size: 13px;
  }

  .continent h3 {
    font-size: 15px;
  }

  .continent {
    font-size: 25px;
    padding: 10px 0;
  }

  .number {
    font-size: 13px;
  }

  .flag {
    width: 70px;
    height: 50px;
  }

  .flag2 {
    width: 160px;
    border-radius: 5px;
  }

  .today h3,
  .total h3 {
    padding: 10px;
    font-size: 18px;
  }

  .dataContainer div ul li {
    padding: 10px;
  }

  .navIcons svg,
  .header1,
  .continent h1 {
    font-size: 20px;
    padding-bottom: 5px;
  }

  .map-div {
    text-align: center;
  }

  .continentName {
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;
  }

  .Africa,
  .South-America {
    width: 70%;
    height: 150px;
  }

  .Asia,
  .Europe,
  .North-America {
    height: 100px;
    width: 100%;
    padding-top: 20px;
  }

  .Australia-Oceania {
    width: 100%;
    height: 150px;
    padding-top: 20px;
  }

  .buttons {
    position: absolute;
    bottom: 0;
  }
}
